<div id="myCarousel" class="carousel slide">
<div class="carousel-inner">
<div class="item active">
<img src="images/slide-01.jpg" alt="">
<div class="container">
  <div class="carousel-caption">
    <h1>Integrated Therapy.</h1>
    <p class="lead">Via combination of diverse treatment approaches we aim to offer the best holistic care possible,  helping you reach your potential and enjoy a high quality of life, whatever your age, problem or goals.</p>
  </div>
</div>
</div>
<div class="item">
<img src="images/slide-02.jpg" alt="">
<div class="container">
  <div class="carousel-caption">
    <h1>Neck & Back</h1>
    <p class="lead">
Back and Neck pain are often the result of acute trauma or injury, poor posture habits and the accumulation of physical stress on the spine. But there are other causes of back pain such as inflammation and degenerative disorders affecting the joints, such as arthritis.
  </p>
    <a class="btn btn-large btn-primary" href="#">Learn more</a>
  </div>
</div>
</div>
<div class="item">
<img src="images/slide-03.jpg" alt="">
<div class="container">
  <div class="carousel-caption">
    <h1>Sports Injuries</h1>
    <p class="lead">Sports Injuries
With a strong background in working with both national and international athletes, such as the Irish hockey teams and 1st division Rugby Players, Kathy’s understanding of an athlete’s biomechanics, the physical demands particular to their sport and associated injuries ensures a high standard of care and rehabilitation.</p>
  </div>
</div>
</div>
</div>
<a class="left carousel-contr
ol" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->