<div class="title"><h3>About Us</h3></div>

Established in 1979 in Guildford Allen Physiotherapy has a long history of working with active individuals in the field of musculoskeletal medicine. Previously the London clinic was based at the Lawn Tennis Association; we have a team of vastly experience Physiotherapists who have worked at Olympic Games and Wimbledon Tennis Championships.
We’re able to utilise the skills of our multinational team of Physiotherapists to provide a world class service in helping you to reach your targets and goals. We have an expert team of physiotherapists, from a variety of backgrounds that may be able to help you or your child.

We have experience in dealing with a vast spectrum of conditions with age being no barrier, ranging from you and I to international athletes.
We can help with:
Back Pain
Neck Pain
Strains and Sprains
Pre-habilitation (prior to surgery)
Rehabilitation (post injury / surgery)
Fracture Rehabilitation
We’re able to use our team of Physiotherapists, Hydrotherapists and Chiropodists to potentially use some of the following skills to help you:
Manual Therapy
Therapeutic Exercise
Hydrotherapy
Electrotherapy
Ultrasound Imagining
Acupuncture / Dry Needling
Massage (Sports and Remedial)
Isokinetic Strength Testing
Orthotics
We’re pleased to say that we are recognised by all major insurers and are able to offer early morning, daytime, evening and weekend appointments.