<!-- start: Row -->
<div class="row">
    <div class="span3">
        <div class="picture">
            <a href="img/car.jpg" rel="image" title="mobile app">
                                            <img src="images/nessa-smyth.jpeg">
                                            <div class="image-overlay-zoom"></div>
                                        </a>
            <div class="item-description">
                <h4>
                    <a href="#">Nessa Smyth</a>
                </h4>
                <p>
                Kathy qualified in the UK in 1999 with a first class honours degree in Physiotherapy and subsequently went on to achieve a Masters in Sports Physiotherapy and Manipulation from University College London in 2004. She has a wealth of  experience working with athletes of all levels but also enjoys the challenge of treating and rehabilitating more chronic injuries that seemingly refuse to resolve.
                    <ul>
                        <li>London Olympics 2012 – Athletics</li>
                        <li>World Etchells Sailing – 2010</li>
                        <li>Davis Cup Tennis</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="picture">
            <a href="project.html">
                                            <img src="images/backpain.jpeg">
                                            <div class="image-overlay-link"></div>
                                        </a>
            <div class="item-description">
                <h4>
                    <a href="#">Injuries Treated</a>
                </h4>
                <ul>
                    <li>Sporting injuries</li>
                    <li>Specialist in neck and back pain</li>
                    <li>Treatment and Rehabilitation</li>
                    <li>Foot Biomechanic assessment</li>
                    <li>Post-operative rehabilitation
(arthroscopic knee surgery, ACLs,
Total hips & knees etc.)</li>
                    <li>Pre- and post-natal pelvic pain</li>
                    <li>Foot Biomechanic assessment</li>
                    <li>Treatment Techniques</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="picture">
            <a href="img/mobile_app1.jpg" rel="image" title="mobile app">
                                            <img src="images/pilates.jpeg">
                                            <div class="image-overlay-zoom"></div>
                                        </a>
            <div class="item-description">
                <h4>
                    <a href="#">Treatment Techniques</a>
                </h4>
                <ul>
                    <li>Spinal mobilisations and manipulations</li>
                    <li>Soft tissue mobilisations include Sports Massage</li>
                    <li>Acupuncture and Dry Needling</li>
                    <li>Orthotics</li>
                    <li>Taping & Strapping including Kinesionogy tape</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end: Row -->