<div ng-include src="'views/partials/header.html'"></div>
<div ng-include src="'views/partials/carousel.html'"></div>

<div id="wrapper">
                
        <!--start: Container -->
        <div class="container">
            
            
            
            <!-- start: Row -->
            <!-- end: Row -->
            
            <hr>
            
            <div class="content clearfix">
                
                <div class="span11">
                
                    <!-- start: Row -->
                    <div class="row">

                        <div class="span7">
                            <div ng-include src="'views/partials/aboutus/aboutus.html'"></div>
                        </div>

                        <div class="span4">
                            <div class="flex-video widescreen">
                                <iframe src="http://player.vimeo.com/video/6686768?title=0&amp;byline=0&amp;portrait=0" width="1500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                            </div>
                        </div>

                    </div>
                    <!-- end: Row -->
                
                </div>
                
                <div class="clearfix"></div>
                <hr class="clean">
                
                <div class="span11">
            
                    <!-- start: Row -->
                    <div class="row">
                        
                        <div class="span11">
                             <div ng-include src="'views/partials/aboutus/treatments.html'"></div>                        
                        </div>
                        
                     </div>
                
                </div>
                <!-- end: Row -->
                
            </div>  
            
            <hr>
           
        </div>
        <!--end: Container-->
    
    </div>

<div ng-include src="'views/partials/footer.html'"></div>

