<div ng-include src="'views/partials/header.html'"></div>
<div ng-include src="'views/partials/carousel.html'"></div>

<div id="wrapper">
                
        <!--start: Container -->
        <div class="container">
            
            <hr>
            
            
            <!-- start: Row -->
            <div class="row">
    
                <div class="span9">
                    
                    <div class="title-out"><h3>Latest Works</h3></div>
                    
                    <!-- start: Row -->
                    <div class="row">
            
                        <div class="span3">
    
                            <div class="picture">
                                <a href="img/car.jpg" rel="image" title="mobile app">
                                    <img src="img/car.jpg">
                                    <div class="image-overlay-zoom" style="opacity: 0; display: block;"></div>
                                </a>
                                <div class="item-description">
                                    <h4><a href="#">Mobile App</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                </div>
                            </div>
                    
                        </div>

                        <hr class="visible-phone">
                    
                        <div class="span3">

                            <div class="picture">
                                <a href="project.html">
                                    <img src="img/web_app1.jpg">
                                    <div class="image-overlay-link" style="opacity: 0; display: block;"></div>
                                </a>
                                <div class="item-description">
                                    <h4><a href="#">Mobile App</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                </div>
                            </div>

                        </div>
        
                        <hr class="visible-phone">

                        <div class="span3">

                            <div class="picture">
                                <a href="img/mobile_app1.jpg" rel="image" title="mobile app">
                                    <img src="img/mobile_app1.jpg">
                                    <div class="image-overlay-zoom"></div>
                                </a>
                                <div class="item-description">
                                    <h4><a href="#">Mobile App</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                </div>
                            </div>

                        </div>
                    
                    </div>
                    <!-- end: Row -->

                </div>
                
                <hr class="visible-phone">

                <div class="span3">
                    
                    <!-- start: Testimonials-->

                    <div class="testimonial-container">

                        <div class="title-out"><h3>What Client’s Say</h3></div>

                            <div class="testimonials-carousel" data-autorotate="3000" style="overflow: hidden; width: 100%;" role="application" aria-live="polite"> <a href="#carousel-1-0" class="mr-rotato-next"></a> <a href="#carousel-1-0" class="mr-rotato-prev"></a>

                                <ul class="carousel" id="carousel-1-0" style="margin-left: -200%; float: left; width: 400%; -webkit-transition: margin-left 0.3s ease;" aria-activedescendant="carousel-1-0-slide2">

                                    <li class="testimonial" style="float: left; width: 25%;" role="tabpanel document" id="carousel-1-0-slide0" aria-hidden="true">
                                        <div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                                        <div class="testimonials-bg"></div>
                                        <div class="testimonials-author">Lucas Luck, <span>CEO</span></div>
                                    </li>

                                    <li class="testimonial" style="float: left; width: 25%;" role="tabpanel document" id="carousel-1-0-slide1" aria-hidden="true">
                                        <div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                                        <div class="testimonials-bg"></div>
                                        <div class="testimonials-author">Lucas Luck, <span>CTO</span></div>
                                    </li>

                                    <li class="testimonial mr-rotato-active-slide" style="float: left; width: 25%;" role="tabpanel document" id="carousel-1-0-slide2" aria-hidden="false">
                                        <div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                                        <div class="testimonials-bg"></div>
                                        <div class="testimonials-author">Lucas Luck, <span>COO</span></div>
                                    </li>

                                    <li class="testimonial" style="float: left; width: 25%;" role="tabpanel document" id="carousel-1-0-slide3" aria-hidden="true">
                                        <div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                                        <div class="testimonials-bg"></div>
                                        <div class="testimonials-author">Lucas Luck, <span>CMO</span></div>
                                    </li>

                                </ul>

                            </div>

                        </div>

                    <!-- end: Testimonials-->
                    
                </div>

            </div>
            <!-- end: Row -->
            
            <hr>
            
            <div class="content clearfix">
                
                <div class="span11">
                
                    <!-- start: Row -->
                    <div class="row">

                        <div class="span7">
                            <div class="title"><h3>About Us</h3></div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </p>    
                        </div>

                        <div class="span4">
                            <div class="flex-video widescreen">
                                <iframe src="http://player.vimeo.com/video/6686768?title=0&amp;byline=0&amp;portrait=0" width="1500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                            </div>
                        </div>

                    </div>
                    <!-- end: Row -->
                
                </div>
                
                <div class="clearfix"></div>
                <hr class="clean">
                
                <div class="span11">
            
                    <!-- start: Row -->
                    <div class="row">
                        
                        <div class="span9">
                            
                            <div class="title"><h3>Portfolio</h3></div>
                                                        
                            <!-- start: Row -->
                            <div class="row">
                                
                                <div class="span3">

                                    <div class="picture">
                                        <a href="img/car.jpg" rel="image" title="mobile app">
                                            <img src="img/car.jpg">
                                            <div class="image-overlay-zoom"></div>
                                        </a>
                                        <div class="item-description">
                                            <h4><a href="#">Mobile App</a></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="span3">

                                    <div class="picture">
                                        <a href="project.html">
                                            <img src="img/web_app1.jpg">
                                            <div class="image-overlay-link"></div>
                                        </a>
                                        <div class="item-description">
                                            <h4><a href="#">Mobile App</a></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="span3">

                                    <div class="picture">
                                        <a href="img/mobile_app1.jpg" rel="image" title="mobile app">
                                            <img src="img/mobile_app1.jpg">
                                            <div class="image-overlay-zoom"></div>
                                        </a>
                                        <div class="item-description">
                                            <h4><a href="#">Mobile App</a></h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                        </div>
                                    </div>

                                </div>
                            
                            </div>
                            <!-- end: Row -->
                        
                        </div>
                        
                        
                        <div class="span2">
                            
                            <div class="title"><h3>Why Us?</h3></div>
                            <ul class="check_list">
                                <li>Fully responsive so your content will always look good on any screen size</li>
                                <li>Awesome sliders give you the opportunity to showcase important content</li>
                                <li>Tested on iPhone and iPad with Retina Display</li>
                                <li>Multiple layout options for home pages, portfolio section &amp; blog section</li>
                                <li>We offer free support because we care about your site as much as you do.</li>

                        </ul></div>

                    </div>
                
                </div>
                <!-- end: Row -->
                <div class="clearfix"></div>
                <hr class="clean">
                <div class="contact">If You like our works and You want individual offer, please contact with Us.<i class="ico-envelope ico-white"></i>lukasz@holeczek.pl<i class="ico-iphone ico-white"></i>+48 660 443 460</div>
                
            </div>  
            
            <hr>
            
            <div class="title-out"><h3>We work for</h3></div>
        
            <!-- start Clients List --> 
            <div class="clients-carousel">
        
                
        
            <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides clients" style="width: 4000%; -webkit-transition: 0.6s; -webkit-transform: translate3d(0px, 0, 0);">
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/1.png" alt=""></li>
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/2.png" alt=""></li>    
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/3.png" alt=""></li>
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/4.png" alt=""></li>
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/5.png" alt=""></li>
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/6.png" alt=""></li>
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/7.png" alt=""></li>
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/8.png" alt=""></li>
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/9.png" alt=""></li>
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/10.png" alt=""></li>
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/1.png" alt=""></li>
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/2.png" alt=""></li>    
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/3.png" alt=""></li>
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/4.png" alt=""></li>
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/5.png" alt=""></li>
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/6.png" alt=""></li>
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/7.png" alt=""></li>
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/8.png" alt=""></li>
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/9.png" alt=""></li>
                    <li style="width: 115.5px; float: left; display: block;"><img src="img/logos/10.png" alt=""></li>   
                </ul></div></div>
            <!-- end Clients List -->
        
            <hr>
            
        </div>
        <!--end: Container-->
    
    </div>

<div ng-include src="'views/partials/footer.html'"></div>

